<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quên mật khẩu</title>
</head>
<body>
    <h1>Đã có người vừa dùng email để lấy lại mật khẩu ở trang <a href="https://bach-hoa-ba-con-tho.herokuapp.com/">Bách hóa BA CON THỎ</a></h1>
    <h1>Mật khẩu mới của bạn là: <b style="color: green">{{newPass}}</b></h1>
    <h1>Chúc bạn có một lần mua sắm thật vui vẻ</h1>
</body>
</html>