<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kích hoạt tài khoản</title>
</head>
<body>
    <h5>Xin chào bạn {{ten}}</h5>
    <h5>Bạn vừa dùng email {{mail}} này để đăng ký tài khoản tại <a href="https://bach-hoa-ba-con-tho.herokuapp.com/">Bách hóa BA CON THỎ</a></h5>
    <h5>Vui lòng click vào đường dẫn sau để xác nhận đăng ký!</h5>
    <a href="{{urlActive}}">Click vào đây nè!</a>
</body>
</html>