<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h3>Chào bạn {{ten}}</h3>
    <h3>Đơn hàng của bạn đã bị từ chối, vì lý do hết hàng hoặc địa chỉ giao hàng quá xa, hệ thống
        <a href="https://bach-hoa-ba-con-tho.herokuapp.com/">Bách hóa BA CON THỎ</a> xin cáo lỗi và mong khách hàng tha thứ</h3>
    <h3>Chi tiết đơn hàng như sau</h3>
    <table>
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            {{#each dsHang}}
            <tr>
                <td>{{this.idMatHang.ten}}</td>
                <td>{{this.soLuong}}</td>
                <td>{{this.gia}}</td>
                <td>{{this.thanhTien}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h3>Cảm ơn bạn đã lựa chọn cửa hàng của chúng tôi, hy vọng lại được phục vụ quý khách!</h3>
</body>

</html>