html,
body {
	font-size: 14;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

img {
	max-width: 100%;
}

/*header*/

.navbar-brand {
	margin-bottom: 5px;
	padding-left: 5px;
	width: 180px;
}

h1 {
	text-align: center;
	font-size: 30px;
	min-width: 35px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-transform: uppercase;
}

h5 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content {
	margin-top: 10px;
}

.tieu-de {
	margin: 20px;
}

.col-md-3 img {
	width: 95%;
	/* height: 200px; */
}

.images img {
	width: 80%;
	/* height: 200px; */
}

h3 {
	text-align: center;
	font-size: 30px;
	min-width: 35px;
	/* width: 30%; */
	padding: 10px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	border-radius: 10px;
}

.alert-info {
	margin-top: 20px;
}

.images-thuong-hieu img {
	width: 60%;
	height: auto;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}