<div class="content">
    <!--sản phẩm-->
    <div class="image-san-pham">
        <div class="row">
            <div class="col-sm-6">
                <img src="/assets/images/{{matHang.maSo}}.jpg" class="img-thumbnail col-10">
            </div>
            <div class="col-sm-6">
                <form id="formChoSanPhamVaoGioHang" method="POST" action="/gio-hang/cho-sp-vao-gio-hang?action=them">
                    <h2>{{matHang.ten}}</h2>
                    <h5 style="text-align: left">Khối lượng tịnh: {{matHang.khoiLuongTinh}}</h5>
                    <p class="price" style="text-align: left; color: red">
                        <b>{{matHang.gia}} VND</b>
                    </p>
                    <div class="quantity">
                        <div class="input-group mb-3">
                            <p style=" padding-right: 10px">
                                <b>Số lượng: </b>
                            </p>
                            <div class="input-group-prepend">
                                <button id="btnGiamSoLuong" class="btn btn-outline-info" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <input type="number" name="soluong" readonly min="1" value="1" style="width: 50px; text-align: center;">
                            <div class="input-group-prepend">
                                <button id="btnTangSoLuong" class="btn btn-outline-info" type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{!-- dùng để gửi kèm mã số khi submit form --}}
                    <input class="d-none" name="maso" type="text" value="{{matHang.maSo}}">
                    <button class="btn btn-success" type="submit">Thêm vào giỏ hàng</button>
                </form>
            </div>
        </div>
    </div>
    <!-- thông tin chi tiết-->
    <div class="thong-tin-chi-tiet">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Chi tiết sản phẩm</h4>
            <div class="font-weight-bold">Thành phần và công dụng</div>
            <p>{{matHang.thongTinChiTiet.thanhPhan}}</p>
            <div class="font-weight-bold">Hướng dẫn sử dụng</div>
            <p>{{matHang.thongTinChiTiet.huongDanSuDung}}</p>
            <div class="font-weight-bold">Bảo quản</div>
            <p>{{matHang.thongTinChiTiet.baoQuan}}</p>
        </div>
    </div>
    <!--bình luận-->
    <div class="comment">
        <h2>
            <span class="badge badge-info">BÌNH LUẬN</span>
        </h2>
        <form>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>
        <button class="btn btn-info" type="submit">Gửi</button>
    </div>
    <!--sản phẩm liên quan-->
    <div class="san-pham-lien-quan">
        <div class="san-pham">
            <div class="row">
                <div class="col-md-3">
                    <div class="images">
                        <img src="/assets/images/aquafina.jpg">
                        <h5 style="text-align: left;">Nước tinh khiết Aquafina</h5>
                        <h5 style="text-align: left">500ml</h5>
                        <div class="price" style="text-align: left; color: red">9.000 VND</div>
                        <a href="/mat-hang/sp-nuoc-tinh-khiet-aquafina" class="nav-link p-0">Xem thêm</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="images">
                        <img src="/assets/images/aquafina.jpg">
                        <h5 style="text-align: left;">Nước tinh khiết Aquafina</h5>
                        <h5 style="text-align: left">500ml</h5>
                        <div class="price" style="text-align: left; color: red">9.000 VND</div>
                        <a href="/mat-hang/sp-nuoc-tinh-khiet-aquafina" class="nav-link p-0">Xem thêm</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="images">
                        <img src="/assets/images/aquafina.jpg">
                        <h5 style="text-align: left;">Nước tinh khiết Aquafina</h5>
                        <h5 style="text-align: left">500ml</h5>
                        <div class="price" style="text-align: left; color: red">9.000 VND</p>
                            <a href="/mat-hang/sp-nuoc-tinh-khiet-aquafina" class="nav-link p-0">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="images">
                        <img src="/assets/images/aquafina.jpg">
                        <h5 style="text-align: left;">Nước tinh khiết Aquafina</h5>
                        <h5 style="text-align: left">500ml</h5>
                        <div class="price" style="text-align: left; color: red">9.000 VND</p>
                            <a href="/mat-hang/sp-nuoc-tinh-khiet-aquafina" class="nav-link p-0">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>