<div class="content">
	<div class="tieu-de row">
		<h3 class="col-md-4 offset-md-4 col-sm-12">{{danhMucCap2.ten}}</h3>
	</div>
	<div class="thuong-hieu">
		<div class="row ml-2">
			{{#each dsThuongHieu}}
			<div class="col-md-2">
				<figure class="images-thuong-hieu">
					<img class="" src="/assets/images/{{maSo}}.png">
				</figure>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="dac-trung row justify-content-end mr-2">
		<div class="btn-group">
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sắp Xếp
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Giá tăng dần</a>
				<a class="dropdown-item" href="#">Giá giảm dần</a>
			</div>
		</div>
	</div>
	<div class="san-pham mt-5">
		<div class="row mx-2">
			{{#each dsSP}}
			<div class="col-md-3 mb-5 px-3">
				<div class="images">
					<img src="/assets/images/{{maSo}}.jpg">
					<h5 style="text-align: left;">{{ten}}</h5>
					<h6 style="text-align: left">{{khoiLuongTinh}}</h6>
					<div class="price" style="text-align: left; color: red">{{gia}} VND</div>
					<a href="/mat-hang/{{maSo}}" class="nav-link p-0">Xem thêm</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>