<div class="modal fade" id="modalThongBaoDangNhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                Bạn cần đăng nhập để thực hiện chức năng này
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDatHang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin giao hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formDatHang" action="/gio-hang/dat-hang" method="POST">
                    <div>
                    <div class="form-group">
                        <label>Địa chỉ nhận hàng:</label>
                        <input class="form-control" type="text" name="diachi" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày giao:</label>
                        <input class="form-control" type="date" name="ngaygiao" required>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú:</label>
                        <textarea class="form-control" name="ghichu"></textarea>
                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="formDatHang">Đặt hàng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <h2 class="col-12">Giỏ hàng của bạn</h2>
    <div class="col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 20%">Hình ảnh</th>
                    <th style="width: 20%">Tên mặt hàng</th>
                    <th style="width: 20%">Đơn giá</th>
                    <th style="width: 20%">Số lượng</th>
                    <th style="width: 20%">Thành tiền</th>
                </tr>

            </thead>
            <tbody>
                {{#each gioHang}}
                <tr>
                    <td>
                        <img class="w-50" src="/assets/images/{{maSo}}.jpg">
                    </td>
                    <td>
                        <a href="/mat-hang/{{maSo}}">{{ten}}</a>
                    </td>
                    <td>{{donGia}} đ</td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <form action="/gio-hang/cho-sp-vao-gio-hang?action=bot" method="POST">
                                    <button id="btnGiamSoLuong" class="btn btn-sm btn-outline-info" type="submit">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="d-none" name="maso" value="{{maSo}}">
                                    <input class="d-none" name="soluong" value="1">
                                </form>
                            </div>
                            <input type="text" name="soluong" readonly min="1" value="{{soLuong}}" style="width: 30px; text-align: center;">
                            <form action="/gio-hang/cho-sp-vao-gio-hang?action=them" method="POST">
                                <button id="btnTangSoLuong" class="btn btn-sm btn-outline-info" type="submit">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <input class="d-none" name="maso" value="{{maSo}}">
                                <input class="d-none" name="soluong" value="1">
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-7">{{thanhTien}} đ</div>
                            <div class="col-5">
                                <form action="/gio-hang/cho-sp-vao-gio-hang?action=xoa" method="POST">
                                    <button class="btn btn-link pt-0" type="submit">Xóa</button>
                                    <input class="d-none" name="maso" value="{{maSo}}">
                                </form>
                            </div>
                        </div>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-4 font-weight-bold mt-2">Tổng tiền</div>
            <h2 class="col-8 text-danger">{{tongTien}} đ</h2>
            <div class="col-12 mt-3">
                <button class="btn btn-success w-100" id="btnDatHang">Đặt hàng</button>
            </div>
        </div>
    </div>
</div>