<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>3contho&reg; | Bách Hóa 3 Con Thỏ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121557754-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-121557754-1');
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	 crossorigin="anonymous"></script>
</head>

<body>
	<div class="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<img src="/assets/images/logo1.png">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Trang Chủ
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
							Danh Mục
						</a>
						<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
							{{#each dsDanhMucCap1}}
							<li class="dropdown-submenu">
								<a class="dropdown-item" tabindex="-1">{{ten}}</a>
								<ul class="dropdown-menu">
									{{#each danhMucCap2}}
									<li class="dropdown-item">
										<a href="/danh-muc/{{../this.maSo}}/{{maSo}}">{{ten}}</a>
									</li>
									{{/each}}
								</ul>
							</li>
							<li class="dropdown-divider"></li>
							{{/each}}
						</ul>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input required class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light my-2 my-sm-0" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</form>
				<ul class="navbar-nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link" href="/gio-hang">Giỏ Hàng
							<i class="fas fa-shopping-cart"></i>
							<span class="badge badge-pill badge-info">{{tongSoLuongMatHangTrongGio}}</span>
						</a>
					</li>
					{{#if user}}
					<div class="dropdown">
						<a class="nav-link dropdown-toggle" style="color: white" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">{{user.hoVaTen}}
							<i class="fas fa-user-tie ml-2"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="profile">

							<a class="dropdown-item" href="/thong-tin-ca-nhan">Cá nhân</a>

							<form action="/logout" method="POST">
								<button type="submit" class="dropdown-item">Đăng xuất</button>
							</form>
						</div>
					</div>
					{{else}}
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#dang-ky">Đăng Ký</a>
					</li>
					<a class="btn btn-secondary" data-toggle="modal" data-target="#form-dang-nhap">Đăng Nhập</a>
					{{/if}}
				</ul>
			</div>
		</nav>

	</div>
	<div class="container-fluid">

		<!--Content-->
		{{{body}}}

		<!-- Modal đăng ký -->
		<div class="modal fade" id="dang-ky" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản mới</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container mt-3">
							<form method="POST" action="/register" id="form-dang-ky">
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<div class="form-group">
											<label for="hoVaTen">Họ và tên</label>
											<input required required type="text" class="form-control" name="hoVaTen" aria-describedby="hoVaTenHelpText" placeholder="Nhập họ và tên">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<div class="form-group">
											<label for="email">Email</label>
											<input required type="email" class="form-control" name="email" aria-describedby="email-hepl-text" placeholder="Nhập email">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<div class="form-group">
											<label for="">Mật khẩu</label>
											<input required type="password" class="form-control" name="password" placeholder="Nhập mật khẩu">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<div class="form-group">
											<label for="">Nhập lại mật khẩu</label>
											<input required type="password" class="form-control" name="rePassword" placeholder="Nhập lại mật khẩu">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<button type="submit" class="btn btn-success btn-block">Register</button>
									</div>
								</div>
							</form>
						</div>
						{{!--
						<script>
							$("#form-dang-ky").submit(function (e) {

								var url = "/register"; // the script where you handle the form input.

								$.ajax({
									type: "POST",
									url: url,
									data: $("#form-dang-ky").serialize(), // serializes the form's elements.
									success: function (data) {
										data = JSON.parse(data);
										if (data.status == 'error')
											alert(data.status + ": " + data.message); // show response from the php script.
									}
								});

								e.preventDefault(); // avoid to execute the actual submit of the form.
							});
						</script> --}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal đăng nhập -->
		<div class="modal fade" id="form-dang-nhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Đăng nhập vào hệ thống</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container mt-3">
							<form method="POST" action="/login">
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<div class="form-group">
											<label for="email">Email</label>
											<input required type="email" class="form-control" name="username" aria-describedby="email-hepl-text" placeholder="Nhập email">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<div class="form-group">
											<label for="">Mật khẩu</label>
											<input required type="password" class="form-control" name="password" placeholder="Nhập mật khẩu">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										{{#if message_err}}
										<div class="alert alert-danger">{{message_err}}</div> {{/if}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<button type="submit" class="btn btn-success btn-block">Login</button>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-10 offset-md-1 col-sm-12">
										<a href="/quen-mat-khau">Quên mật khẩu</a>
									</div>
								</div>
							</form>
						</div>
						{{!--
						<script>
							$("#form-dang-nhap").submit(function (e) {

								var url = "/login"; // the script where you handle the form input.

								$.ajax({
									type: "POST",
									url: url,
									data: $("#form-dang-nhap").serialize(), // serializes the form's elements.
									success: function (data) {
										data = JSON.parse(data);
										alert(data.status + ": " + data.message); // show response from the php script.
										window.location = '/'
									}
								});

								e.preventDefault(); // avoid to execute the actual submit of the form.
							});
						</script> --}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<!--Footer-->
		<footer id="footer" class="mt-5">
			<div class="noi-dung-footer">
				<div class="cot-1">
					<h4>Thông Tin Liên Hệ</h4>
					<ul>
						<li>
							<a href="#">Điện Thoại: 0987.6543</a>
						</li>
						<li>
							<a href="#">Email: bachhoa3contho@gmail.com</a>
						</li>
						<li>
							<a href="#">Địa chỉ: 227, Nguyễn Văn Cừ, P.12, Q.5, TPHCM</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/assets/js/script.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	 crossorigin="anonymous"></script>
</body>

</html>