<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-header text-center mt-5" style="background-color: rgb(182, 85, 85)">
                <h4>Danh sách các đơn hàng chờ xử lí</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {{#each dsDonHangChoXuLi}}
                        <li class="list-group-item">
                            <h4 class="card-title">Đơn hàng</h4>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <h5>Ngày mua</h5>
                                    <h5>Địa chỉ giao</h5>
                                    <h5>Ngày giao</h5>
                                    <h5>Tổng tiền</h5>
                                </div>
                                <div class="col-lg-9 col-md-6">
                                    <h5>: {{this.ngayLap}}</h5>
                                    <h5>: {{this.diaChi}}</h5>
                                    <h5>: {{this.ngayGiao}}</h5>
                                    <h5>: {{this.tongTien}} đ</h5>
                                </div>
                            </div>
                            <h4 class="mt-2">Danh sách các mặt hàng trong đơn hàng</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.danhSachMua}}
                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>{{this.idMatHang.ten}}</td>
                                        <td>{{this.soLuong}}</td>
                                        <td>{{this.gia}}đ</td>
                                        <td>{{this.thanhTien}}đ</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="row">
                                        <div class="col-md-2 offset-md-5 col-sm-12">
                                            <div class="row">
                                                <a href="/don-hang/tu-choi?id={{_id}}" class="btn btn-danger btn-block">Hủy đơn hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card-header text-center mt-5" style="background-color: rgb(87, 87, 184)">
                <h4>Danh sách các đơn hàng đang giao</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {{#each dsDonHangDangGiao}}
                        <li class="list-group-item">
                            <h4 class="card-title">Đơn hàng</h4>
                            <div class="row">
                                <div class="col-md-2 col-sm-6">
                                    <h5>Ngày mua</h5>
                                    <h5>Địa chỉ giao</h5>
                                    <h5>Ngày giao</h5>
                                    <h5>Tổng tiền</h5>
                                </div>
                                <div class="col-lg-9 col-md-6">
                                    <h5>: {{this.ngayLap}}</h5>
                                    <h5>: {{this.diaChi}}</h5>
                                    <h5>: {{this.ngayGiao}}</h5>
                                    <h5>: {{this.tongTien}} đ</h5>
                                </div>
                            </div>
                            <h4 class="mt-2">Danh sách các mặt hàng trong đơn hàng</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.danhSachMua}}
                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>{{this.idMatHang.ten}}</td>
                                        <td>{{this.soLuong}}</td>
                                        <td>{{this.gia}}đ</td>
                                        <td>{{this.thanhTien}}đ</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card-header text-center mt-5" style="background-color: rgb(202, 202, 136)">
                <h4>Danh sách các đơn hàng đã giao</h4>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        {{#each dsDonHangDaXuLi}}
                        <li class="list-group-item">
                            <h4 class="card-title">Đơn hàng</h4>
                            <div class="row">
                                <div class="col-2">
                                    <h5>Ngày mua</h5>
                                    <h5>Địa chỉ giao</h5>
                                    <h5>Ngày giao</h5>
                                    <h5>Tổng tiền</h5>
                                    <h5>Trạng thái</h5>
                                </div>
                                <div class="col-lg-9 col-md-6">
                                    <h5>: {{this.ngayLap}}</h5>
                                    <h5>: {{this.diaChi}}</h5>
                                    <h5>: {{this.ngayGiao}}</h5>
                                    <h5>: {{this.tongTien}} đ</h5>
                                    {{#equal this.trangThai "Đã xử lí"}}
                                    <h5 class="badge badge-success">: {{this.trangThai}}</h5>
                                    {{/equal}} 
                                    {{#equal this.trangThai "Hủy đơn"}}
                                    <h5 class="badge badge-danger">: {{this.trangThai}}</h5>
                                    {{/equal}}
                                </div>
                            </div>
                            <h4 class="mt-2">Danh sách các mặt hàng trong đơn hàng</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.danhSachMua}}
                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>{{this.idMatHang.ten}}</td>
                                        <td>{{this.soLuong}}</td>
                                        <td>{{this.gia}}đ</td>
                                        <td>{{this.thanhTien}}đ</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>