<div class="container mt-5">
    <form method="POST">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" {{#if username}} value="{{username}}"{{/if}} name="username" id="email" aria-describedby="email-hepl-text" placeholder="Nhập email">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="">Mật khẩu</label>
                    <input type="password" class="form-control" {{#if password}} value="{{password}}"{{/if}} name="password" id="" placeholder="Nhập mật khẩu">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                {{#if error}}
                <div class="alert alert-danger">{{error}}</div> {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <a href="/quen-mat-khau">Quên mật khẩu</a>
            </div>
        </div>
    </form>
</div>