<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <form method="POST" id="form-quen-mat-khau">
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Nhập email để lấy lại mật khẩu">
        <small class="form-text text-muted">Nhập email để lấy lại mật khẩu</small>
      </div>
      <div id="quen-mat-khau-message" style="text-align: center">
      </div>
      <button type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
  </div>
  <script>
      $("#form-quen-mat-khau").submit(function (e) {
        $("#quen-mat-khau-message")[0].className = "";
        $("#quen-mat-khau-message")[0].innerHTML = `<i class="fa fa-spinner fa-spin text-primary" style="font-size: 32px;"></i>`

        var url = "/quen-mat-khau"; // the script where you handle the form input.

        $.ajax({
          type: "POST",
          url: url,
          data: $("#form-quen-mat-khau").serialize(), // serializes the form's elements.
          success: function (data) {
            data = JSON.parse(data);
            if(data.status == 'error') {
              $("#quen-mat-khau-message")[0].className = "alert alert-danger";
            }
            else {
              $("#quen-mat-khau-message")[0].className = "alert alert-success";
            }
            $("#quen-mat-khau-message").text(data.message); // show response from the php script.
          }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
      });
    </script>
</div>