<div class="container mt-5">
    <form method="POST">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="hoVaTen">Họ và tên</label>
                    <input type="text" class="form-control" {{#if hoVaTen}}value="{{hoVaTen}}"{{/if}} name="hoVaTen" aria-describedby="hoVaTenHelpText" placeholder="Nhập họ và tên">
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" {{#if email}}value="{{email}}"{{/if}} name="email" id="email" aria-describedby="email-hepl-text" placeholder="Nhập email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="">Mật khẩu</label>
                    <input type="password" class="form-control" {{#if password}}value="{{password}}"{{/if}} name="password" placeholder="Nhập mật khẩu">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" {{#if rePassword}}value="{{rePassword}}"{{/if}} name="rePassword" placeholder="Nhập lại mật khẩu">
                </div>
            </div>
        </div>
        {{#if error}}
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">
                <button type="submit" class="btn btn-success btn-block">Register</button>
            </div>
        </div>
    </form>
</div>