<div id="carouselExampleControls" class="carousel slide" style="margin-left: -15px; margin-right: -15px" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="assets/images/banner_top_0.jpg" alt="First slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="assets/images/banner_top_1.jpg" alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="assets/images/banner_top_2.jpg" alt="Third slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="content">
	<div class="danh-muc-san-pham my-3">
		{{!-- <div class="tieu-de">
			<h1>Danh Mục Sản Phẩm</h1>
		</div> --}}
		<div class="row">
			<h1 class="col-md-4 offset-md-4 col-sm-12">Danh Mục Sản Phẩm</h1>
		</div>
		<div class="row my-2">
			{{#each dsDanhMucCap1}}
			<div class="col-md-3 my-2">
				<div class="btn-group dropright">
					<button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ten}}
					</button>
					<div class="dropdown-menu">
						{{#each danhMucCap2}}
						<li>
							<a class="dropdown-item" href="/danh-muc/{{../this.maSo}}/{{maSo}}">{{ten}}</a>
						</li>
						<li class="dropdown-divider"></li>
						{{/each}}
					</div>
				</div>
				<img class="mt-4" src="assets/images/{{maSo}}.jpg">
			</div>
			{{/each}}
		</div>

	</div>
	<div class="san-pham-noi-bat mt-5">
		<div class="row">
			<h1 class="col-md-4 offset-md-4 col-sm-12">Sản phẩm nổi bật</h1>
		</div>
		<div class="san-pham mt-2">
			<div class="row mx-2">
				{{#each dsMatHang}}
				<div class="col-md-3 mb-5 px-3">
					<div class="images">
						<img class="img-thumbnail" src="/assets/images/{{maSo}}.jpg">
						<h5 style="text-align: left;">{{ten}}</h5>
						<h6 style="text-align: left">{{khoiLuongTinh}}</h6>
						<div class="price" style="text-align: left; color: red">{{gia}} VND</div>
						<a href="/mat-hang/{{maSo}}" class="nav-link p-0">Xem thêm</a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>