html,body{
	font-size: 14;
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
}

img{
	max-width: 100%;
}

/*header*/
.navbar-brand{
	margin-bottom: 5px;
	padding-left: 5px;
	width: 180px; 
}

h1{
	text-align: center;
	font-size: 30px;
	min-width: 35px;
	width: 38%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-transform: uppercase;
}

.content{
	margin-top: 10px;
}

.tieu-de{
	margin: 20px;
}
.san-pham{
	padding-top: 30px;
}
.col img{
	margin: 20px;
}
.images img{
	width: 300px;
	height: auto;
}

h3{
	text-align: center;
	font-size: 30px;
	min-width: 35px;
	width: 30%;
	padding: 10px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	border-radius: 10px;
}

.alert-info{
	margin-top: 20px;
}