<div class="container-fluid mt-3">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#them-nguoi-dung">+ Thêm tài khoản admin
        <main></main>
    </button>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h5>Danh sách admin</h5>
                </div>
                <div class="col offset-5">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tìm kiếm..">
                        <div class="input-group-apppend">
                            <div class="input-group-text">
                                <a href="#" style="color:black">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style=" padding: 0">
            <table class="table">
                <thead>
                    <!--Hơi trống trãi, thêm thông tin vào-->
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Super</th>
                        <th scope="col">Cập nhật</th>
                        <th scope="col">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dsAdmin}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.hoVaTen}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.super}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="modal" data-target="#cap-nhat-{{this._id}}">Cập nhật</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#xoa-{{this._id}}">Xóa</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal thêm người dùng-->
    <div class="modal fade mt-5" id="them-nguoi-dung" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="POST" action="/admin/nguoi-dung/them-tai-khoan" onsubmit="return themAdmin(this)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="container">
                                <div class="form-group row">
                                    <label for="hovaten" class="col-sm-4 col-form-label">Họ và tên:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="hoVaTen" id="hovaten" placeholder="Nhập họ và tên">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label">Email:</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="matkhau" class="col-sm-4 col-form-label">Mật khẩu:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="matKhau" id="matkhau" placeholder="Nhập mật khẩu">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nhaplaimatkhau" class="col-sm-4 col-form-label">Nhập lại mật khẩu:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="nhaplaimatkhau" id="nhaplaimatkhau" placeholder="Nhập lại mật khẩu">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="super" class="col-sm-4 col-form-label">super</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="super">
                                            <option selected value="false">false</option>
                                            <option value="true">true</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-8 offset-4 col-form-label text-danger"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{#each dsAdmin}}
    <!-- Modal -->
    <!-- modal cap nhat -->
    <div class="modal fade mt-5" id="cap-nhat-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form onsubmit="return capNhatAdmin(this)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật {{this.hoVaTen}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <label class="mr-3" for="">Họ và tên:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name="hoVaTen" class="form-control" value="{{this.hoVaTen}}" placeholder="Nhập họ và tên mới">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label class="mr-3" for="">Email:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name="email" class="form-control" value="{{this.email}}" disabled placeholder="Nhập họ và tên mới">
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label for="super" class="col-sm-4 col-form-label">super</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="super">
                                        {{#equal this.super "false" }}
                                        <option selected value="false">false</option>
                                        <option value="true">true</option>
                                        {{/equal}} {{#equal this.super "true" }}
                                        <option value="false">false</option>
                                        <option selected value="true">true</option>
                                        {{/equal}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <label class="col-8 offset-4 col-form-label text-danger"></label>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label class="mr-3" for="">Password:</label>
                                </div>
                                <div class="col-8">
                                    <button type="button" class="btn btn-warning" onclick="resetPassWordAdmin('{{this.email}}','rs-{{this._id}}')">Reset password</button>
                                    <span id="rs-{{this._id}}" class="text-danger">Mật khẩu sẽ được đổi thành 123456</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Chức năng xóa -->
    <div class="modal fade mt-5" id="xoa-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa {{this.hoVaTen}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container pt-3 pb-3 pl-3 pr-3">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-secondary btn-block btn-lg" data-dismiss="modal">Không</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary btn-block btn-lg" onclick="deleteAdmin('{{this.email}}','xoa-err-{{this._id}}')">Có</button>
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                            <span class="text-danger" id="xoa-err-{{this._id}}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- xem đơn hàng -->
    {{/each}}
</div>