<div class="row mt-5">
    <div class="col-md-8 offset-md-2 col-sm-12" style=" border: 1px solid gray;">
        <div class="row mt-3">
            <div class="col-6" style="text-align:right">
                <h5>Email đăng nhập: </h5>
                <h5>Họ và tên: </h5>

            </div>
            <div class="col-6" style="text-align:left">
                <h5 class="text-success">{{user.email}}</h5>
                <h5 class="text-success">{{user.hoVaTen}}</h5>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-12" style="text-align: center">
                <button class="btn btn-success mt-1" data-toggle="modal" data-target="#cap-nhat-thong-tin-nhan">Đổi tên</button>
                <button class="btn btn-warning mt-1" data-toggle="modal" data-target="#doi-mat-khau">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cap-nhat-thong-tin-nhan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi tên người dùng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <form method="POST" id="form-doi-ho-va-ten">
                            <div class="row">
                                <div class="col-md-10 offset-md-1 col-sm-12">
                                    <div class="form-group">
                                        <label for="hoVaTen">Họ và tên mới</label>
                                        <input required type="text" class="form-control" name="hoVaTen" value="{{user.hoVaTen}}" aria-describedby="hoVaTenHelpText"
                                            placeholder="Nhập họ và tên">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-md-10 offset-md-1 col-sm-12 text-center">
                                    <div id="message-doi-ho-va-ten">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1 col-sm-12">
                                    <button type="submit" class="btn btn-success btn-block">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                <script>
                    $("#form-doi-ho-va-ten").submit(function (e) {
                        $("#message-doi-ho-va-ten")[0].className = "text-primary";
                        $("#message-doi-ho-va-ten")[0].innerHTML = `<i class="fa fa-spinner fa-spin text-primary" style="font-size: 32px;"></i>`
                        var url = "/admin/doi-ten"; // the script where you handle the form input.

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#form-doi-ho-va-ten").serialize(), // serializes the form's elements.
                            success: function (data) {
                                data = JSON.parse(data);
                                if (data.status == 'error') {
                                    $("#message-doi-ho-va-ten")[0].className = "alert alert-danger";
                                    $("#message-doi-ho-va-ten")[0].innerHTML = data.message;
                                }
                                else {
                                    window.location = "/admin/ca-nhan"
                                }
                            }
                        });

                        e.preventDefault(); // avoid to execute the actual submit of the form.
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="modal fade" id="doi-mat-khau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu người dùng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <form method="POST" id="form-doi-mat-khau">
                            <div class="row">
                                <div class="col-md-10 offset-md-1 col-sm-12">
                                    <div class="form-group">
                                        <label for="matKhauCu">Nhập mật khẩu hiện hành</label>
                                        <input required type="password" class="form-control" name="matKhauCu" placeholder="Nhập mật khẩu hiện hành">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1 col-sm-12">
                                    <div class="form-group">
                                        <label for="matKhauMoi">Nhập mật khẩu mới</label>
                                        <input required type="password" class="form-control" name="matKhauMoi" placeholder="Nhập mật khẩu mới">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1 col-sm-12">
                                    <div class="form-group">
                                        <label for="reMatKhauMoi">Nhập lại mật khẩu mới</label>
                                        <input required type="password" class="form-control" name="reMatKhauMoi" placeholder="Nhập lại mật khẩu mới">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-md-10 offset-md-1 col-sm-12 text-center">
                                    <div id="message-doi-mat-khau">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1 col-sm-12">
                                    <button type="submit" class="btn btn-success btn-block">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                <script>
                    $("#form-doi-mat-khau").submit(function (e) {
                        $("#message-doi-mat-khau")[0].className = "text-primary";
                        $("#message-doi-mat-khau")[0].innerHTML = `<i class="fa fa-spinner fa-spin text-primary" style="font-size: 32px;"></i>`
                        var url = "/admin/doi-mat-khau"; // the script where you handle the form input.

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: $("#form-doi-mat-khau").serialize(), // serializes the form's elements.
                            success: function (data) {
                                data = JSON.parse(data);
                                if (data.status == 'error') {
                                    $("#message-doi-mat-khau")[0].className = "alert alert-danger";
                                }
                                else {
                                    $("#message-doi-mat-khau")[0].className = "alert alert-success";
                                    setTimeout(() => {
                                        window.location.reload();
                                    }, 2000);
                                }
                                $("#message-doi-mat-khau")[0].innerHTML = data.message;

                            }
                        });

                        e.preventDefault(); // avoid to execute the actual submit of the form.
                    });
                </script>
            </div>
        </div>
    </div>
</div>