<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3">
            <div style="text-align: center">
                <img src="/images/user-circle.svg" style="width: 100%;" alt="" srcset="">
                <br>
                <h5>Username</h5>
                <a href="/admin/ca-nhan" class="btn btn-secondary btn-sm">Edit profile</a>
            </div>

        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <a href="/admin/nguoi-dung">
                                <img src="/images/icon-user.png" style="width: 100%" alt="" srcset="">
                                <h5>Tài khoản người dùng</h5>
                            </a>
                        </div>
                        <div class="col" style="text-align: center;">

                            <a href="/admin/san-pham">
                                <img src="/images/product.png" style="width: 100%" alt="" srcset="">
                                <h5>Sản phẩm</h5>

                            </a>
                        </div>
                        <div class="col" style="text-align: center;">
                            <a href="/admin/don-hang">
                                <img src="/images/icon-order.png" style="width: 100%" alt="" srcset="">
                                <h5>Đơn hàng</h5>
                            </a>
                        </div>
                        <div class="col" style="text-align: center;">
                            <a href="/admin/thong-ke">
                                <img src="/images/graphs.png" style="width: 100%" alt="" srcset="">
                                <h5>Thống kê doanh số</h5>
                            </a>
                        </div>
                        {{#equal user.super "true" }}
                        <div class="col" style="text-align: center;">
                            <a href="/admin/admin">
                                <img src="/images/icon-admin.png" style="width: 100%" alt="" srcset="">
                                <h5>Quản trị viên</h5>
                            </a>
                        </div>
                        {{/equal}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>