<!doctype html>

<html lang="en">

<head>
    <title>{{{title}}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    {{!--
    <link rel="stylesheet" href="/stylesheets/style.css"> --}}
</head>

<body>
    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {{!--
                <li>
                    <a href="/" {{#if dashboard}} class="active" {{/if}}>
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li> --}}
                <li>
                    <a href="/admin/dashboard" {{#if dashboard}} class="active" {{/if}}>
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/admin/nguoi-dung" {{#if dsNguoiDung}} class="active" {{/if}}>
                        <i class="fas fa-users"></i>
                        Tài khoản người dùng</a>
                </li>
                {{#equal user.super "true" }}
                <li>
                    <a href="/admin/admin" {{#if dsAdmin}} class="active" {{/if}}>
                        <i class="fas fa-users"></i>
                        Tài khoản admin</a>
                </li>
                {{/equal}}
                <li>
                    <a href="/admin/san-pham" {{#if dsSanPham}} class="active" {{/if}}>
                        <i class="fas fa-cube"></i>
                        Sản phẩm</a>
                </li>
                <li>
                    <a href="/admin/don-hang" {{#if donHang}} class="active" {{/if}}>
                        <i class="far fa-file-alt"></i>
                        Đơn hàng</a>
                </li>
                <li>
                    <a href="/admin/thong-ke" {{#if thongKe}} class="active" {{/if}}>
                        <i class="fas fa-chart-bar"></i>
                        Thống kê</a>
                </li>
                <li>
                    <a href="/admin/ca-nhan"  {{#if caNhan}} class="active" {{/if}}>
                        <i class="fas fa-cog"></i>
                        Quản lý tài khoản</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <a href="#" class="btn btn-outline-secondary" id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <img src="/assets/images/logo1.png" alt="" srcset="" style="height: 2em" class="ml-3">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">

                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{user.hoVaTen}}
                            <i class="fas fa-user-tie ml-2"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profile">
                            
                            <a class="dropdown-item" href="/admin/ca-nhan">Cá nhân</a>
                            <form action="/logout" method="POST">
                                <button type="submit" class="dropdown-item">Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Content -->
            <div>
                {{{body}}}
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--Optional Javascript-->
    <script src="/assets/js/adminScript.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script src="/assets/js/admin-nguoi-dung.js"></script>
</body>

</html>