<div class="container-fluid mt-3">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#them-nguoi-dung">+ Thêm tài khoản
        <main></main>
    </button>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h5>Danh sách tài khoản</h5>
                </div>
                <div class="col offset-5">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tìm kiếm..">
                        <div class="input-group-apppend">
                            <div class="input-group-text">
                                <a href="#" style="color:black">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style=" padding: 0">
            <table class="table">
                <thead>
                    <!--Hơi trống trãi, thêm thông tin vào-->
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Giỏ hàng</th>
                        <th scope="col">Cập nhật</th>
                        <th scope="col">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dsNguoiDung}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.hoVaTen}}</td>
                        <td>{{this.email}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#xem-{{this._id}}">Xem</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="modal" data-target="#cap-nhat-{{this._id}}">Cập nhật</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#xoa-{{this._id}}">Xóa</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{!--
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Đầu</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Cuối</a>
            </li>
        </ul>
    </nav> --}}
    <!--Modal thêm người dùng-->
    <div class="modal fade mt-5" id="them-nguoi-dung" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="POST" action="/admin/nguoi-dung/them-tai-khoan" onsubmit="return themNguoiDung(this)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="container">
                                <div class="form-group row">
                                    <label for="hovaten" class="col-sm-4 col-form-label">Họ và tên:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="hoVaTen" id="hovaten" placeholder="Nhập họ và tên">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label">Email:</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="matkhau" class="col-sm-4 col-form-label">Mật khẩu:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="matKhau" id="matkhau" placeholder="Nhập mật khẩu">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nhaplaimatkhau" class="col-sm-4 col-form-label">Nhập lại mật khẩu:</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="nhaplaimatkhau" id="nhaplaimatkhau" placeholder="Nhập lại mật khẩu">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-8 offset-4 col-form-label text-danger"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{#each dsNguoiDung}}
    <!-- Modal -->
    <!-- modal xem gio hang -->
    <div class="modal fade mt-5" id="xem-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng {{this.hoVaTen}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.gioHang}}
                                <tr>
                                    <td>{{this.idMatHang._id}}</td>
                                    <td>{{this.idMatHang.ten}}</td>
                                    <td>{{this.idMatHang.gia}}</td>
                                    <td>{{this.soLuong}}</td>
                                    {{!-- <td>
                                        <button type="button" class="btn btn-success btn-sm btn-block">Xem</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm btn-block">Cập nhật</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm btn-block">Xóa</button>
                                    </td> --}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal cap nhat -->
    <div class="modal fade mt-5" id="cap-nhat-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form onsubmit="return capNhatNguoiDung(this)">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật {{this.hoVaTen}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <label class="mr-3" for="">Họ và tên:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name="hoVaTen" class="form-control" value="{{this.hoVaTen}}" placeholder="Nhập họ và tên mới">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label class="mr-3" for="">Email:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name="email" class="form-control" value="{{this.email}}" disabled placeholder="Nhập họ và tên mới">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-8 offset-4 col-form-label text-danger"></label>
                            </div>
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label class="mr-3" for="">Password:</label>
                                </div>
                                <div class="col-8">
                                    <button type="button" class="btn btn-warning" onclick="resetPassWord('{{this.email}}','rs-{{this._id}}')">Reset password</button>
                                    <span id="rs-{{this._id}}" class="text-danger">Mật khẩu sau khi reset sẽ được gửi về mail của người dùng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Chức năng xóa -->
    <div class="modal fade mt-5" id="xoa-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa {{this.hoVaTen}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container pt-3 pb-3 pl-3 pr-3">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-secondary btn-block btn-lg" data-dismiss="modal">Không</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary btn-block btn-lg" onclick="deleteNguoiDung('{{this.email}}','xoa-err-{{this._id}}')">Có</button>
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                            <span class="text-danger" id="xoa-err-{{this._id}}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- xem đơn hàng -->
    {{/each}}
</div>