<!--Modal xemChiTiet-->
<div class="modal fade" id="modalXemChiTiet" tabindex="-1" role="dialog" aria-labelledby="modalXemChiTiet" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="labelXemChiTiet">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Gắn chuỗi HTML server trả về vào đây-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--Modal capNhatSanPham-->
<div class="modal fade" id="modalCapNhatSanPham" tabindex="-1" role="dialog" aria-labelledby="modalCapNhatSanPham" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="labelCapNhatSanPham">Cập nhật thông tin sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Gắn chuỗi HTML server trả về vào đây-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" id="btnXacNhanCapNhat">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!--Modal capNhatHinh-->
<div class="modal fade" id="modalCapNhatHinh" tabindex="-1" role="dialog" aria-labelledby="modalCapNhatSanPham" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form action="/admin/up-img" method="POST" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="labelCapNhatSanPham">Cập nhật hình hiển thị sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <input type="file" class="form-control-file" name="file" placeholder="Chọn file hình cập nhật cho sản phẩm" aria-describedby="fileHelpId" accept="image/*">
                              <small id="fileHelpId" class="form-text text-muted">Chọn file hình cập nhật cho sản phẩm</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal themSanPham-->
<div class="modal fade" id="modalThemSanPham" tabindex="-1" role="dialog" aria-labelledby="modalThemSanPham" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="labelThemSanPham">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-row">
                    <div class="form-group col-md-12">
                        <label for="ten" class="col-form-label font-weight-bold">Tên</label>
                        <input type="text" class="form-control" id="ten">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="danhMucCap1" class="col-form-label font-weight-bold">Danh mục cấp 1</label>
                        <select class="custom-select custom-select-md mb-3 dsDanhMucCap1" id="danhMucCap1">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="danhMucCap1" class="col-form-label font-weight-bold">Danh mục cấp 2</label>
                        <select class="custom-select custom-select-md mb-3 dsDanhMucCap2" id="danhMucCap2">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="danhMucCap1" class="col-form-label font-weight-bold">Thương hiệu</label>
                        <select class="custom-select custom-select-md mb-3 dsThuongHieu" id="thuongHieu">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gia" class="col-form-label font-weight-bold">Giá</label>
                        <input type="text" class="form-control" id="gia">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="khoiLuongTinh" class="col-form-label font-weight-bold">Khối lượng tịnh</label>
                        <input type="text" class="form-control" id="khoiLuongTinh">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="soLuongSPCon" class="col-form-label font-weight-bold">Số lượng sản phẩm trong mặt hàng</label>
                        <input type="text" class="form-control" id="soLuongSPTrongMatHang">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tinhTrang" class="col-form-label font-weight-bold">Tình trạng</label>
                        <input type="text" class="form-control" id="tinhTrang">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="moTa" class="col-form-label font-weight-bold">Mô tả</label>
                        <textarea type="text" class="form-control" id="moTa"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="thongTinChiTiet" class="col-form-label font-weight-bold">Thông tin chi tiết</label>
                        <div class="form-group">
                            <label for="thanhPhan" class="col-form-label">Thành phần</label>
                            <textarea type="text" class="form-control" id="thanhPhan"></textarea>

                            <label for="huongDanSuDung" class="col-form-label">Hướng dẫn sử dụng</label>
                            <textarea type="text" class="form-control" id="huongDanSuDung"></textarea>

                            <label for="baoQuan" class="col-form-label">Bảo quản</label>
                            <textarea type="text" class="form-control" id="baoQuan"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" id="btnXacNhanThem">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!--Modal xoaSanPham-->
<div class="modal fade" id="modalXoaSanPham" tabindex="-1" role="dialog" aria-labelledby="modalXoaSanPham" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="labelXoaSanPham">Xóa sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Gắn chuỗi HTML vào đây-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" id="btnXacNhanXoa">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalThemSanPham">+ Thêm sản phẩm</button>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h5>Danh sách sản phẩm</h5>
                </div>
                <div class="col offset-5">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tìm kiếm..">
                        <div class="input-group-apppend">
                            <div class="input-group-text">
                                <a href="#" style="color:black">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style=" padding: 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mã số</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Khối lượng tịnh</th>
                        <th scope="col">Số lượng SP con</th>
                        <th scope="col">Chi tiết</th>
                        <th scope="col">Cập nhật thông tin</th>
                        <th scope="col">Cập nhật hình</th>
                        <th scope="col">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dsSanPham}}
                    <tr id={{maSo}}>
                        <td>{{maSo}}</td>
                        <td>{{ten}}</td>
                        <td>{{gia}}</td>
                        <td>{{khoiLuongTinh}}</td>
                        <td>{{soLuongSPTrongMatHang}}</td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm btn-block btnThem" data-toggle="modal" data-target="#modalXemChiTiet"
                                data-id={{maSo}}>Chi tiết</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="modal" data-target="#modalCapNhatSanPham" data-id={{maSo}}>Cập nhật</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm btn-block" data-toggle="modal" data-target="#modalCapNhatHinh-{{maSo}}" data-id={{maSo}}>Cập nhật</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#modalXoaSanPham" data-id={{maSo}}>Xóa</button>
                        </td>
                    </tr>
                    <!--Modal capNhatHinh-->
<div class="modal fade" id="modalCapNhatHinh-{{maSo}}" tabindex="-1" role="dialog" aria-labelledby="modalCapNhatSanPham" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form action="/admin/up-img?maSo={{maSo}}" method="POST" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="labelCapNhatSanPham">Cập nhật hình hiển thị sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              <input type="file" class="form-control-file" name="file" placeholder="Chọn file hình cập nhật cho sản phẩm" aria-describedby="fileHelpId" accept="image/*">
                              <small id="fileHelpId" class="form-text text-muted">Chọn file hình cập nhật cho sản phẩm</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Đầu</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Cuối</a>
            </li>
        </ul>
    </nav>
</div>