<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-6 col-md-12 mt-3">
            <h3 class="text-center">Doanh thu trong tuần</h3>
            <canvas id="thong-ke-tuan"></canvas>
        </div>
        <div class="col-lg-6 col-md-12 mt-3">
            <h3 class="text-center">Doanh thu trong tháng</h3>
            <canvas id="thong-ke-thang"></canvas>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-12 mt-3">
            <h3 class="text-center">Doanh thu trong quý</h3>
            <canvas id="thong-ke-quy"></canvas>
        </div>
        <div class="col-lg-6 offset-lg-2 col-md-12 mt-3">
            <h3 class="text-center">Doanh thu trong năm</h3>
            <canvas id="thong-ke-nam"></canvas>
        </div>
    </div>
    <div class="mt-5">
        <div class="alert alert-primary">
            <h1 class="text-center">Top {{ds10SpBanChay.length}} sản phẩm bán chạy nhất</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Top</th>
                    <th scope="col">Hình minh họa</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Số lượng bán được</th>
                </tr>
            </thead>
            <tbody>
                {{#each ds10SpBanChay}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td><img src="/assets/images/{{maSo}}.jpg" style="width: 50px" alt=""></td>
                    <td>{{ten}}</td>
                    <td>{{soLuong}} Sản phẩm</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    //Tuần
    var ctx = document.getElementById('thong-ke-tuan').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["Thứ 2", "Thứ 3", "Thứ 4", "Thứ 5", "Thứ 6", "Thứ 7", "Chủ nhật"],
            datasets: [{
                label: "Doanh thu",
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data: [0, 10, 5, 2, 20, 30, 45],
                lineTension: 0.3
            }, {
                label: "Số đơn hàng",
                borderColor: 'rgb(25, 99, 12)',
                fill: false,
                data: [0, 0, 45, 2, 20, 60, 45],
                lineTension: 0.3
            }]
        },

        // Configuration options go here
        options: {}
    });


    //doanh thu trong tháng
    ctx = document.getElementById('thong-ke-thang').getContext('2d');
    chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"],
            datasets: [{
                label: "Doanh thu",
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                data: [0, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45],
                lineTension: 0.3
            }, {
                label: "Số đơn hàng",
                borderColor: 'rgb(25, 99, 12)',
                fill: false,
                data: [0, 0, 45, 2, 20, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45, 10, 5, 2, 20, 30, 45],
                lineTension: 0.3
            }]
        },

        // Configuration options go here
        options: {}
    });

    //doanh thu trong quý
    ctx = document.getElementById('thong-ke-quy').getContext('2d');
    chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ["Quý 1", "Quý 2", "Quý 3", "Quý 4"],
            datasets: [
                {
                    "label": "My First Dataset",
                    "data": [
                        300,
                        50,
                        100,
                        500
                    ],
                    "backgroundColor": [
                        "rgb(255, 99, 132)",
                        "rgb(54, 162, 235)",
                        "rgb(255, 205, 86)",
                        "rgb(25, 40, 86)"
                    ]
                }
            ]
        },

        // Configuration options go here
        options: {}
    });

    //doanh thu trong năm
    ctx = document.getElementById('thong-ke-nam').getContext('2d');
    chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
            datasets:
                [
                    {
                        "label": "2018",
                        "data": [
                            65,
                            59,
                            80,
                            81,
                            56,
                            55,
                            40,
                            90, 25, 45, 50, 100
                        ],
                        "fill": false,
                        "backgroundColor": [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                            "rgba(255, 205, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(201, 203, 207, 0.2)",
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                            "rgba(255, 205, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(201, 203, 207, 0.2)",
                        ],
                        "borderColor": [
                            "rgb(255, 99, 132)",
                            "rgb(255, 159, 64)",
                            "rgb(255, 205, 86)",
                            "rgb(75, 192, 192)",
                            "rgb(54, 162, 235)",
                            "rgb(153, 102, 255)",
                            "rgb(201, 203, 207)",
                            "rgb(255, 99, 132)",
                            "rgb(255, 159, 64)",
                            "rgb(255, 205, 86)",
                            "rgb(75, 192, 192)",
                            "rgb(54, 162, 235)",
                            "rgb(153, 102, 255)",
                            "rgb(201, 203, 207)"
                        ],
                        "borderWidth": 1
                    }
                ]
        },

        // Configuration options go here
        options: {}
    });

</script>